#main-navbar,
.modal-dialog,
body {
    overflow-x: hidden
}

#main-navbar,
.list-group-item,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-transition: .35s all ease-in-out;
    -o-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out
}

#main-navbar,
body.post-template {
    background-color: $white;
}

#main-navbar {
    width: 4.4rem;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    border-right: 1px solid rgba(0, 0, 0, .05);
    background: #ffffff;
}

#main-navbar::-webkit-scrollbar {
    display: none
}

#main-navbar>.navbar-inner {
    position: relative;
    width: 22rem;
    overflow: hidden;
    min-height: 100%;
    overflow-y: auto
}

.secondary-bar {
    position: fixed;
    top: 0;
    background-color: #fff
}

#main-navbar>.navbar-inner>.navbar-item {
    width: 100%;
    min-height: 1.8rem;
    border-top: 1px solid rgba(0, 0, 0, .09)
}

#main-navbar.only-mob>.navbar-inner>.navbar-item:first-child,
#main-navbar:not(.only-mob)>.navbar-inner>.navbar-item:nth-child(2) {
    border: none
}

#main-navbar .navbar-inner>.navbar-item>a {
    width: 100%;
    height: 3.375rem;
    margin: 0;
    color: #000;
    padding: 0
}

#main-navbar .navbar-inner>.navbar-item .collapse-menu {
    width: 100%;
}

#main-navbar .navbar-item>a div.arrow-icon-menu {
    right: 0;
    position: absolute;
    margin-right: 4rem;
    margin-top: -5px;
    font-size: 1rem;
}

#main-navbar .navbar-inner>.navbar-item .collapse-menu:not(.selectors-wrappers) a {
    padding-left: 4.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'ITC Avant Garde Std Md';
    font-weight: 500;
    font-style: normal;
    color: #000;
    font-size: .80rem;
    height: 3.125rem;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

#main-navbar .navbar-inner>.navbar-item .collapse-menu:not(.selectors-wrappers) a:last-child {
    margin-bottom: 1.25rem;
    border-bottom: 0;
}

#main-navbar .navbar-inner>.navbar-item .collapse-menu a>i {
    width: 30px;
    text-align: left
}

#main-navbar .navbar-inner>.navbar-item .collapse-menu a:hover {
    color: #d4a650
}

.dark.orange #main-navbar .navbar-inner>.navbar-item .collapse-menu a:hover,
.dark.orange #main-navbar .navbar-inner>.navbar-item .collapse-menu:not(.selectors-wrappers) a:hover {
    color: #d4a650 !important
}

#main-navbar .navbar-item>a i,
#main-navbar .navbar-item>a p {
    width: 4.375rem;
    min-width: 4.375rem;
    height: 4.375rem;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#main-navbar .navbar-item>a span {
    font-weight: 600;
    font-family: "ITC Avant Garde Std Bk", sans-serif;
    font-size: .9rem;
    height: 100%
}

#main-navbar:hover {
    width: 17.1875rem
}

#main-navbar .navbar-inner>.navbar-item>a,
#main-navbar .navbar-item>a i,
#main-navbar .navbar-item>a p,
#main-navbar .navbar-item>a span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#main-navbar>.navbar-inner>.navbar-item.active>a,
#main-navbar>.navbar-inner>.navbar-item:active>a,
#main-navbar>.navbar-inner>.navbar-item:focus>a,
#main-navbar>.navbar-inner>.navbar-item:hover>a {
    color: #d4a650;
    background-color: transparent;
}

#main-navbar .navbar-inner>.navbar-item.secondary-item>a:hover {
    background-color: transparent;
    color: #d4a650
}

#main-navbar>.navbar-inner>.vertical-navbar-brand {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    height: 7.375rem
}

#main-navbar>.navbar-inner>.vertical-navbar-brand p {
    font-family: Montserrat;
    font-weight: 600;
    color: #d4a650;
    font-size: 1.75rem
}

#main-navbar>.navbar-inner>.vertical-navbar-brand p.letter-logo {
    -webkit-transition: .35s all ease-in-out;
    -o-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out;
    font-size: 1.75rem
}

#main-navbar>.navbar-inner>.vertical-navbar-brand p.label-logo img {
    -webkit-transition: .35s all ease-in-out;
    -o-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out;
    width: 55px;
    height: auto;
    margin-top: 20px;
}

#main-navbar>.navbar-inner>.vertical-navbar-brand p.text-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    width: 0;
    min-width: 0
}

#main-navbar .logo-rectangle {
    height: 3.125rem;
    width: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: .35s all ease-in-out;
    -o-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out
}

#main-navbar .logo-square,
.form-control,
.form-control+i {
    -webkit-transition: .35s all ease-in-out
}

#main-navbar .logo-square {
    height: 100%;
    -o-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out
}

.form-control,
.form-control+i {
    -o-transition: .35s all ease-in-out;
    transition: .35s all ease-in-out
}


/* Icon 4 */

.nav-icon4 {
    color: #000000;
}

.nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

.nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}


/*==== Header Css Start ====*/

nav .nav-top {
    height: 55px;
    /*position: fixed;*/
    position: absolute;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;
    z-index: 1;
    float: right;
    backface-visibility: hidden;
}

.nav-up {
    top: -50px;
}


/*==== Header Css Start ====*/

.ms_content_wrapper {
    position: relative;
    margin-left: 160px;
    margin-right: 80px;
}

.ms_top_search {
    max-width: 25%;
    position: relative;
    display: flex;
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-top: 7px;
}

.search_icon {
    margin-top: 7px;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    background-color: #d4a54e;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 16px;
    cursor: pointer;
    color: #ffffff;
}

.ms_top_search .form-control {
    display: inline-block;
    height: 40px;
    padding: 0px 20px;
    font-size: .9rem;
    line-height: 45px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    color: #777;
    border-radius: 5px;
    border: 1px solid #e3c389;
}

.ms_top_trend {
    max-width: 40%;
    overflow: hidden;
    float: left;
    line-height: 50px;
    padding-left: 50px;
    max-height: 50px;
}

.ms_top_trend .ms_color {
    color: #d4a54e;
    font-weight: 700;
}

.ms_top_trend a {
    color: #777777;
    font-size: .9rem;
    font-family: "Open Sans", serif;
}

.ms_top_right {
    line-height: 45px;
    display: flex;
    place-content: flex-end;
    padding-right: 40px;
    width: 35%;
    padding-top: 5px;
    float: right;
    right: 0;
    z-index: 2;
    position: absolute;
}

.ms_top_right .ms_top_lang {
    font-size: .9rem;
    font-family: "Open Sans", serif;
    color: #d4a54e;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-right: 23px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.ms_top_right .ms_top_lang:hover {
    color: #d4a54e;
}

.ms_top_right .ms_top_lang:after {
    position: absolute;
    background-color: #cdcdcd;
    height: 30px;
    width: 2px;
    content: "";
    right: 6px;
    top: 6px;
}

.ms_btn {
    background-color: #d4a54e;
    color: #fff;
    height: 30px;
    display: inline-block;
    text-transform: capitalize;
    width: 100px;
    text-align: center;
    line-height: 32px;
    border-radius: 20px;
    margin-left: 15px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.ms_btn:hover {
    color: #ffffff;
    box-shadow: 0px 0px 20px 0px #d4a54e;
}

.ms_top_right .ms_top_lang img {
    margin-left: 15px;
    margin-right: 6px;
}

ul.ms_lang_box {
    padding: 5px 0px;
    margin: 0px;
    list-style: none;
    background-color: #d4a54e;
    width: 100%;
    max-width: 120px;
    line-height: initial;
    position: absolute;
    top: 100%;
    opacity: 0;
    border-radius: 4px;
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.ms_top_right .ms_top_lang:hover ul.ms_lang_box {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1;
}

ul.ms_lang_box li {
    width: 100%;
    display: block;
}

ul.ms_lang_box li a {
    color: #ffffff;
    width: 100%;
    display: block;
    padding: 5px 15px;
}

ul.ms_lang_box li a:hover {
    padding-left: 20px;
}

ul.ms_lang_box:after {
    content: "";
    position: absolute;
    top: -8px;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

#horizontal-navbar,
#mobile-navbar {
    left: 0;
    transition: .35s all ease-in-out;
    right: 0
}

#main-navbar:hover>.navbar-inner>.vertical-navbar-brand .logo-square,
#main-navbar:hover>.navbar-inner>.vertical-navbar-brand p.label-logo,
#main-navbar:hover>.navbar-inner>.vertical-navbar-brand p.letter-logo {
    visibility: hidden;
    opacity: 0;
    width: 0;
    min-width: 0
}

#main-navbar:hover>.navbar-inner>.vertical-navbar-brand p.text-logo {
    opacity: 1;
    width: 100%;
    margin-top: 60px;
    margin-left: 60px;
}

#main-navbar:hover>.navbar-inner>.vertical-navbar-brand p.text-logo {
    width: 160px;
    background-image: url("../images/telefoot-logo-light.svg");
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#main-navbar:hover>.navbar-inner>.vertical-navbar-brand .logo-rectangle {
    opacity: 1;
    height: 5.125rem;
    width: auto
}

#main-navbar:hover>.navbar-inner>.vertical-navbar-brand .logo-rectangle img {
    opacity: 1;
    height: 5.125rem;
    width: 90%;
}

#main-navbar.nav-visible {
    display: none !important;
    width: 80vw;
    top: 4.375rem;
    height: calc(100vh - 4.375rem);
    right: 0;
}

#main-navbar.nav-visible .navbar-inner,
#main-navbar.nav-visible .navbar-item {
    width: 100%
}

#horizontal-navbar .circular-selector,
#main-navbar .circular-selector {
    width: 1.875rem !important;
    height: 1.875rem !important;
    display: inline-block !important;
    margin: 0 .9125rem .3125rem 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 100%
}

#horizontal-navbar .selectors-wrappers,
#main-navbar .selectors-wrappers {
    padding-right: .9375rem
}

#horizontal-navbar .circular-selector.dark,
#main-navbar .circular-selector.dark {
    background-color: #28282f
}

#horizontal-navbar .circular-selector.light,
#main-navbar .circular-selector.light {
    background-color: #f1f1f1
}

#horizontal-navbar .circular-selector.orange,
#main-navbar .circular-selector.orange {
    background-color: #d4a650
}

#horizontal-navbar .circular-selector.purple,
#main-navbar .circular-selector.purple {
    background-color: #4d10ad
}

#horizontal-navbar .circular-selector.green,
#main-navbar .circular-selector.green {
    background-color: #00b258
}

#horizontal-navbar .circular-selector.pink,
#main-navbar .circular-selector.pink {
    background-color: #da0058
}

#horizontal-navbar .circular-selector.blue,
#main-navbar .circular-selector.blue {
    background-color: #1339ab
}

#mobile-navbar {
    height: 4.375rem;
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    transition: top 0.2s ease-in-out;
}

nav {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -60px;
}

.mobile-nav__buttons {
    right: 0;
}

#mobile-navbar .nav-mob-menu {
    font-size: 1.5rem;
}

#mobile-navbar a:first-child {
    height: 100%;
    padding-left: .2rem;
}

#mobile-navbar a:last-child {
    color: #000;
    padding-right: .4rem;
    padding-top: 15px;
    width: 2rem;
    border-right: 1px solid rgba(0, 0, 0, .05)
}

#mobile-navbar a.mobile-navbar-logo {
    height: 48%;
    width: auto
}

#mobile-navbar h5 {
    color: #d4a650;
    font-weight: 600;
    margin: 0
}

#mobile-navbar img {
    width: 100%;
    max-width: 120px;
    height: auto;
}

.horizontal-navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .625rem 2.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.horizontal-navbar>a {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem
}

.horizontal-navbar>a:hover {
    color: #d4a650
}

.horizontal-navbar>a:not(.no-border) {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 2px 12px;
    border-radius: 5px
}

.horizontal-navbar>a:not(.no-border):hover {
    color: #000;
    background-color: #fff;
    border-color: #fff
}

#horizontal-navbar,
.secondary-bar,
.secondary-bar>.navbar-title {
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.horizontal-navbar>a>i.fa-arrow-right {
    margin-left: .625rem
}

.horizontal-navbar>a>i.fa-arrow-left {
    margin-right: .625rem
}

#horizontal-navbar {
    width: 100%;
    max-height: 5rem;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10000
}

#horizontal-navbar~#main-content:not(.no-add-alignment) {
    padding-top: 0rem
}

#horizontal-navbar~#main-content .horizontal-navbar {
    display: none !important
}

#horizontal-navbar~#main-content.no-add-alignment {
    padding-top: 5rem
}

#horizontal-navbar .navbar {
    width: 100%;
    padding: 14px 2.5rem
}

#horizontal-navbar a.navbar-brand {
    font-family: Montserrat;
    font-weight: 600;
    color: #d4a650;
    font-size: 1.75rem
}

#horizontal-navbar a.change-theme-color {
    padding-right: 0 !important
}

#horizontal-navbar .navbar-brand.image-logo,
#horizontal-navbar .navbar-brand.image-logo img {
    height: 50px;
    margin: 0;
    padding: 0
}

#horizontal-navbar .color-selector-wrapper,
#main-navbar .color-selector-wrapper {
    margin-top: .3125rem;
    padding-left: 4.5rem;
}

#horizontal-navbar .dropdown-menu {
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    width: 14.75rem;
    right: 0;
    left: inherit;
    padding: .9375rem 1.25rem;
    top: calc(100% + 13px);
    border: 1px solid #f1f1f1
}

#horizontal-navbar .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#horizontal-navbar .dropdown-menu>a:not(.circular-selector),
#horizontal-navbar .nav-item .dropdown>a:not(.navbar-brand),
#horizontal-navbar .nav-item>a:not(.navbar-brand),
#horizontal-navbar .navbar-toggler {
    font-family: "ITC Avant Garde Std Bk", sans-serif;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    padding: .9375rem 1.5625rem
}

#horizontal-navbar .dropdown-menu span,
#main-navbar .selectors-wrappers span {
    font-family: "ITC Avant Garde Std Bk", sans-serif;
    color: #999;
    font-size: .625rem;
    text-transform: uppercase;
    padding-left: 4.5rem;
}

#horizontal-navbar .dropdown-menu>a:not(.circular-selector) {
    width: 100%;
    display: block;
    padding: .9375rem
}

#horizontal-navbar .dropdown-menu>a:not(.circular-selector) span {
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: inherit
}

#horizontal-navbar .dropdown-menu>a:not(.circular-selector) i {
    margin-right: .9375rem
}

#horizontal-navbar a:not(.navbar-brand):hover {
    color: #d4a650
}

#horizontal-navbar .dropdown-toggle::after,
#horizontal-navbar .nav-link span {
    display: none
}

#search-sidebar.horizontal {
    animation-delay: 0s;
    animation-duration: .35s;
    left: inherit;
    right: 0;
    border: 1px solid rgba(0, 0, 0, .05);
    visibility: visible !important;
    transform: translateX(300px) !important
}

#search-sidebar.horizontal #search-field {
    height: 5rem
}

#search-sidebar.horizontal #search-results {
    height: calc(100% - 7.8125rem)
}

#search-sidebar.horizontal form>i {
    top: 2.125rem
}

#search-sidebar.visible {
    transform: translateX(0) !important;
    display: block
}

#search-sidebar~#horizontal-navbar,
#search-sidebar~#instafeed,
#search-sidebar~#main-content,
#search-sidebar~footer {
    transition: .35s all ease
}

.secondary-bar {
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
    display: none;
    visibility: hidden;
    width: 15.625rem;
    height: auto;
    left: 17.1875rem;
    border-right: 1px solid rgba(0, 0, 0, .05);
    z-index: 1000000;
    -webkit-animation-delay: .35s;
    animation-delay: .35s
}

.secondary-bar .navbar-item,
.secondary-bar .navbar-title {
    width: 100%;
    height: 4.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.secondary-bar .navbar-item>a {
    padding: 1.25rem 1.5625rem;
    display: block;
    width: 100%;
    color: #000;
    font-size: .875rem;
    font-weight: 600
}

.secondary-bar>.navbar-item>a:hover {
    color: #d4a650;
    padding-left: 2rem
}

.secondary-bar>.navbar-title>h6 {
    padding: 1.25rem 1.5625rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, .5)
}

.secondary-bar.full-height {
    height: 100vh
}

#search-results {
    height: calc(100% - 7.1875rem);
    overflow: auto
}

#search-results form {
    position: relative;
    margin: 0
}

#search-sidebar form>i {
    position: absolute;
    top: 1.8125rem;
    right: 1.5625rem;
    margin: 0;
    font-size: .875rem;
    transition: .35s all linear
}

#search-sidebar .form-control,
#search-sidebar .form-control:disabled,
#search-sidebar .form-control[readonly] {
    padding: 1.25rem 3.125rem 1.25rem 1.5625rem;
    height: 4.375rem;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-size: 1rem;
    border-radius: 0;
    background-color: transparent;
    margin: 0
}

#search-sidebar {
    width: 300px
}

#search-sidebar .form-control:active,
#search-sidebar .form-control:focus {
    border-color: #d4a650
}

#search-sidebar .fa-spinner {
    animation: spin 3s linear infinite
}

#search-sidebar .fa-spinner,
#search-sidebar.searching .fa-search {
    opacity: 0;
    z-index: -1
}

#search-sidebar .fa-search,
#search-sidebar.searching .fa-spinner {
    opacity: 1;
    z-index: 10000
}

#search-results>p {
    left: 0;
    right: 0;
    font-family: Montserrat;
    font-size: .75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 45px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#search-results>p>span {
    color: #d4a650;
    font-weight: 600;
    margin-left: .3125rem
}

#search-results h6 {
    margin: 0
}

#search-results .media {
    padding: 1.25rem 1.5625rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

#search-results .media p {
    color: #999
}

#search-results a.media:hover h6 {
    color: #d4a650
}

#main-navbar .navbar-item:active+.secondary-bar,
#main-navbar .navbar-item:focus+.secondary-bar,
#main-navbar .navbar-item:hover+.secondary-bar,
.secondary-bar:active,
.secondary-bar:focus,
.secondary-bar:hover {
    display: block;
    visibility: visible
}

#main-navbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#main-navbar~#instafeed,
#main-navbar~#main-content,
#main-navbar~footer {
    -webkit-transform: translateX(4.375rem);
    -ms-transform: translateX(4.375rem);
    transform: translateX(4.375rem);
    width: calc(100% - 4.375rem);
    position: relative;
    transition: .35s all ease-in-out
}

#main-navbar:hover~#instafeed,
#main-navbar:hover~#main-content,
#main-navbar:hover~footer {
    -webkit-transform: translateX(17.1875rem);
    -ms-transform: translateX(17.1875rem);
    transform: translateX(17.1875rem)
}

#horizontal-navbar~#instafeed,
#horizontal-navbar~#main-content,
#horizontal-navbar~footer,
#main-navbar .only-mob:hover~#instafeed,
#main-navbar.only-mob:hover~#main-content,
#main-navbar.only-mob:hover~footer {
    transform: translateX(0) !important;
    width: 100%
}

#search-sidebar.visible~#horizontal-navbar,
#search-sidebar.visible~#instafeed,
#search-sidebar.visible~#main-content,
#search-sidebar.visible~#welcome-section,
#search-sidebar.visible~footer {
    transform: translateX(-300px) !important
}