.dark #related-articles,
.dark .modal-content,
.dark article :not(pre)>code[class*=language-],
.dark pre[class*=language-],
body.dark {
    background-color: #1e2126;
}

.dark .grp__header__title a,
.dark code[class*=language-],
.dark pre[class*=language-] {
    text-shadow: 0 1px #000;
    color: #fff
}

.dark #featured-carousel .carousel-control-next,
.dark #featured-carousel .carousel-control-prev,
.dark #horizontal-navbar,
.dark #horizontal-navbar .dropdown-menu,
.dark #horizontal-navbar .navigation-links,
.dark #main-navbar,
.dark #mobile-navbar,
.dark #search-sidebar .form-control,
.dark .article,
.dark .form-control,
.dark .full-text-card,
.dark .half-image-card>.card-content,
.dark .horizontal-navbar>a:not(.no-border):hover,
.dark .image-card>.card-content,
.dark .list-group-item,
.dark .secondary-bar,
.dark .text-card>.card-content,
.dark footer,
body.dark.post-template {
    background-color: #191a1f;
}

.dark .btn:not(.facebook):not(.twitter):not(.google-plus):hover,
.dark .post-presentation .post-tags:not(.secondary-tags) a:hover {
    background-color: #191a1f !important
}

.dark #featured-carousel .carousel-control-next,
.dark #featured-carousel .carousel-control-prev,
.dark #horizontal-navbar .dropdown-menu>a:not(.circular-selector),
.dark #horizontal-navbar .nav-item .dropdown>a:not(.navbar-brand),
.dark #horizontal-navbar .nav-item>a:not(.navbar-brand),
.dark #horizontal-navbar .navbar-toggler,
.dark #horizontal-navbar .navigation-links a,
.dark #main-navbar .navbar-inner>.navbar-item .collapse-menu:not(.selectors-wrappers) a,
.dark #main-navbar .navbar-inner>.navbar-item>a,
.dark #mobile-navbar a:last-child,
.dark #search-results>p,
.dark .o-widget__tabSelector,
.dark .teamName,
.dark .article blockquote,
.dark .btn-transparent,
.dark .error-template h1,
.dark .error-template p,
.dark .go-top,
.dark .horizontal-navbar>a,
.dark .image-card>.card-content .post-description,
.dark .image-card>.card-content a.post-author:hover,
.dark .list-group-item h6,
.dark .list-item-title p,
.dark .post-presentation .post-description,
.dark .post-presentation a.post-author:hover,
.dark .post-presentation h1,
.dark .post-presentation h2,
.dark .post-presentation h3,
.dark .post-presentation h4,
.dark .post-presentation h5,
.dark .post-presentation h6,
.dark footer .post-presentation p>a {
    color: #E6E6E6;
}

.dark .o-widget__tabSelector--selected {
    color: #d4a650;
}

.dark #main-navbar:hover>.navbar-inner>.vertical-navbar-brand p.text-logo {
    background-image: url("../images/telefoot-logo-dark.svg");
}

.dark #search-sidebar form>i,
.dark .article ol,
.dark .article ul,
.dark .article-header .wrapper .post-add-info a,
.dark .article-header .wrapper .post-add-info p,
.dark .article.post-presentation p,
.dark .image-card>.card-content a.post-author,
.dark .image-card>.card-content a.post-author:hover span,
.dark .post-presentation a.post-author,
.dark .post-presentation a.post-author span,
.dark .post-presentation p.post-author,
.dark .share-icons>span,
.dark article td,
.dark article th,
.post-presentation p.post-author {
    color: #999
}

.dark footer .post-presentation h2,
.dark footer .post-presetation p {
    color: #5e5e5e
}

.dark .entry-title-divider span,
.dark .entry-title-divider::after,
.dark .entry-title-divider::before {
    background-color: #fff
}

.dark #horizontal-navbar,
.dark #horizontal-navbar .circular-selector,
.dark #horizontal-navbar .dropdown-menu,
.dark #horizontal-navbar .navigation-links,
.dark #main-navbar,
.dark #main-navbar .circular-selector,
.dark #main-navbar>.navbar-inner>.navbar-item,
.dark #mobile-navbar,
.dark #mobile-navbar a:last-child,
.dark #search-results>p,
.dark #search-sidebar .form-control,
.dark #search-sidebar.horizontal,
.dark .article .line-numbers .line-numbers-rows,
.dark .article hr,
.dark .article-footer .article-footer-level,
.dark .form-control,
.dark .go-top,
.dark .horizontal-navbar,
.dark .horizontal-navbar>a:not(.no-border),
.dark .list-group-item,
.dark .list-group-item.active+.list-group-item,
.dark .list-item-title,
.dark footer {
    border-color: rgba(255, 255, 255, .025)
}

.dark header .nav-down,
.dark .o-widget,
.dark .ms_top_right {
    background-color: #161616
}

.dark .list-group-item.active {
    background-color: #161616
}

.dark .o-widget__container {
    background-color: #191a1f
}

.dark .o-widget #tab-calendar .item,
.o-widget #tab-results .item {
    border-right: 1px solid rgba(0, 0, 0, .08);
    border-left: 1px solid rgba(0, 0, 0, .08);
    background-color: #191a1f;
}

.dark .gradient.gradient1 {
    background-color: rgba(15, 15, 15, .75)
}

.dark .background-pattern>.gradient {
    background-color: rgba(15, 15, 15, .35)
}