/*=============================================
=             01. Fonts                =
=============================================*/

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
    src: url('../fonts/ITCAvantGardeStd-BoldCn.eot');
    src: local('ITC Avant Garde Gothic Std Bold Condensed'), local('ITCAvantGardeStd-BoldCn'), url('../fonts/ITCAvantGardeStd-BoldCn.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-BoldCn.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-BoldCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-BoldCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std XLt';
    src: url('../fonts/ITCAvantGardeStd-XLt.eot');
    src: local('ITC Avant Garde Gothic Std Extra Light'), local('ITCAvantGardeStd-XLt'), url('../fonts/ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-XLt.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff'), url('../fonts/ITCAvantGardeStd-XLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
    src: url('../fonts/ITCAvantGardeStd-MdCn.eot');
    src: local('ITC Avant Garde Gothic Std Medium Condensed'), local('ITCAvantGardeStd-MdCn'), url('../fonts/ITCAvantGardeStd-MdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-MdCn.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-MdCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-MdCn.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
    src: url('ITCAvantGardeStd-XLtCn.eot');
    src: local('ITC Avant Garde Gothic Std Extra Light Condensed'), local('ITCAvantGardeStd-XLtCn'), url('../fonts/ITCAvantGardeStd-XLtCn.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-XLtCn.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-XLtCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-XLtCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
    src: url('../fonts/ITCAvantGardeStd-DemiCn.eot');
    src: local('ITC Avant Garde Gothic Std Demi Condensed'), local('ITCAvantGardeStd-DemiCn'), url('../fonts/ITCAvantGardeStd-DemiCn.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-DemiCn.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-DemiCn.woff') format('woff'), url('../fonts/ITCAvantGardeStd-DemiCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std Md';
    src: url('../fonts/ITCAvantGardeStd-Md.eot');
    src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'), url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std Bk';
    src: url('../fonts/ITCAvantGardeStd-Demi.eot');
    src: local('ITC Avant Garde Gothic Std Demi'), local('ITCAvantGardeStd-Demi'), url('../fonts/ITCAvantGardeStd-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Demi.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-Demi.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std Bk';
    src: url('../fonts/ITCAvantGardeStd-Bk.eot');
    src: local('ITC Avant Garde Gothic Std Book'), local('ITCAvantGardeStd-Bk'), url('../fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Bk.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Avant Garde Std Md';
    src: url('../fonts/ITCAvantGardeStd-Bold.eot');
    src: local('ITC Avant Garde Gothic Std Bold'), local('ITCAvantGardeStd-Bold'), url('vITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'), url('../fonts/ITCAvantGardeStd-Bold.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}